.blog {
    font-family: 'Roboto', serif;
    text-decoration: none !important;
    min-height: 90vh;
    max-width: 800px;
    margin: 0 auto;
}

.blog h1 {
    line-height: 180%;
    font-weight: 400;
}

a:hover * {
    color: gray;
}

.section-header {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-title {
    font-size: 2rem;
    /* margin-bottom: 5%; */
}

.section-subtitle {
    max-width: 400px;
    margin-bottom: 5%;
    text-align: center;
    margin: 0 auto;
}

.postcards {
    /* width: 100%;*/
}

.postcard-container {
    width: 100%;
    /* min-height: 160px; */
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform .1s;
    padding: 0px;

    padding-bottom: 10px;
    border-bottom: 0.1px #4b5162 solid;
}

.postcard-container:hover {
    /* transform: scale(1.1); */
}

.postcard-content {
    max-height: 100%;
    display: block;
}

.postcard-text {
    text-decoration: none;
}

.postcard-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* padding: 0px;
    // position: absolute;
    // z-index: -1;
    // display:block;*/
}

.postcard-image-img {
    /* margin:-5% 0; */
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 16/9;
    padding: 0px;
    margin-bottom: 10px;
}

.postcard-text-title {
    /* font-family: "poppinsregular", serif; */
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    font-size: 1.5rem;
    /*font-family: 'poppinsbold', sans-serif;*/
}

.postcard-text-summary {
    /* line-height: 1; */
    font-family: 'PT Serif', serif;
    margin: 0px;
    font-size: calc(15px + 0.05vw);
    /*16px*/
}

.date-info {
    font-family: "poppinsregular", serif;
    line-height: 1;
    font-size: calc(10px + 0.05vw);
}

.tags {
    font-family: "poppinsregular", serif;
    /* display: inline-block;
    // float: none;
    // padding: inherit;
    // position: absolute; */
    bottom: 0;
    left: 0;
    /* margin-top: 10px; */
}

.tag {
    /* background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'poppinsregular', sans-serif;
    font-size: calc(10px + 0.05vw);

    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px; */
    font-family: 'Oswald', sans-serif;
    display: inline-block;
}