.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16rem;
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
}

.footer-container {
    margin-top: 2em;
    padding-bottom: 1em;

    text-decoration: none;
    color: white;
}

.footer-container a {
    color: inherit;
}

.btn-footer {
    font-family: "Poppins";
    margin-top: 1em;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 0.2rem 0.75rem;
    color: white !important;
}

.btn-footer i {
    color: inherit !important;
}


.page-container {
    position: relative;
    min-height: 100vh;
}

.content-container {
    margin: 2em;
    padding-bottom: 16rem;
    margin: 0 auto;
    /* Footer height */
}

.btn-contact-footer {
    font-family: "Poppins";
    font-size: 0.8rem;
    background-color: #333;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50px;
    padding: 0.2rem 0.75rem;
    color: white !important;
}

.btn-contact-footer:hover {
    font-weight: 700;
    background-color: white !important;
    color: black !important;
}

.btn-contact-footer i {
    color: inherit !important;
}