---
---
@import "main";

@font-face {
    font-family: "BebasNeue";
    src: url("assets/fonts/BebasNeue.ttf") format("truetype"),
}
@font-face {
    font-family: 'poppinsblack';
    src: url('../fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.home-text{
    text-align: left;
}

@media(max-width: 1200px) {
    .home-text{
        text-align: center;
    }
}

.navbar-brand {
    text-align: center;
    padding-right: 20px;
    border-right: 1px #909090 solid;
}

@media(max-width: 768px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
        padding-right: 0;
        border-right: 0px #909090 solid;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-align: center;
}

.active-nav-link {
    color: rgb(246,110,72) !important;
    border-bottom: 1px rgb(246,110,72) solid;
}

.bg-custom{
    background-color:black;
}

li {
    display: inline;
}

a *{
    // height: 100%;
    text-decoration: none;
    display: inline-block;
    color: black;
}

a:hover *{
    color: gray;
}

.main-banner{
    
    // color: white;
    // max-width: 100%;
    // height: 500px;
    // background-image: url("/assets/img/main-banner-background.jpg");
    // background-size: auto;
    // background-repeat: no-repeat;
    // background-position: 0 50%;
    // object-fit: cover;
    margin-top: 20vh;
    // margin: 0;
    // position: absolute;
    // top: 50%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
}

@media(max-width: 768px) {
    .main-banner{
        margin-top: 5vh;
    }
}

// INDEX PAGE CONTACT CARD
.index-contact {
    margin-top: 15vh;
    // margin-top: 50px;
    bottom : 0;
    padding : 10px;

    // border-style: solid;
    // border-color: rgb(246,110,72);
    // border-width: 0.5px;
    background-color: rgba(246,110,72,0.15);
    border-radius: 10px;
}

.img-index-contact {
    height: 100%;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    max-width: calc(60px + 2vw);
    height: calc(60px + 2vw);
    object-fit: cover;
}

.index-contact-text {
    text-decoration: none;
    color: rgb(246,110,72);
    font-family:'poppinsregular';
    font-size: calc(10px + 0.5vw);
    // font-size: 15px;
}

.icon-container {
    margin-right: 20px;
}

.my-icon {
    color:#F66E48;
    margin-top: 5px;
}

// #5335CF, #DE005E, #F66E48

.my-icon:hover {
    color:#DE005E;
}
/////////////////

.postcards{
    // width: 100%;
}

.postcard-container{
    width: 100%;
    min-height: 160px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform .1s;
    padding: 0px;

    padding-bottom: 10px;
    border-bottom: 1px #4b5162 solid;
}

.postcard-container:hover{
    // transform: scale(1.1);
}

.postcard-text{
    text-decoration: none;
}


.postcard-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    // padding: 0px;
    // position: absolute;
    // z-index: -1;
    // display:block;
}

.postcard-image-img{
    // margin:-5% 0;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 16/9;
    padding: 0px;
    margin-bottom: 10px;
}

.postcard-text-title{
    line-height: 1;
    font-size: calc(25px + 0.36vw); //32px
    font-family: 'poppinsbold', sans-serif;
}

.postcard-text-summary{
    // line-height: 1;
    margin: 0px;
    font-size: calc(15px + 0.05vw); //16px
    font-family: 'poppinsregular', sans-serif;
}

.date-info {
    line-height: 1;
    font-family: 'poppinslight', sans-serif;
    font-size: calc(10px + 0.05vw); 
}

.gradient-overlay{
    height: inherit;
    background: linear-gradient(90deg, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
    background-size: cover;
}

.center {
    margin: auto;
    // top: 50%;
    // left: 50%;
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
  }

.post-banner{
    max-width: 100%;
    // height: 500px;
    background-size: 100% auto;
    background-position: 0 50%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.section-title{ 
    font-family: 'poppinsblack', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img-pp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(150px + 7.8vw);
    height: calc(150px + 7.8vw);
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50%!important;
}

.tags {
    // display: inline-block;
    // float: none;
    // padding: inherit;
    // position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}

.tag {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'poppinsregular', sans-serif;
    font-size: calc(10px + 0.05vw);

    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;

}









// .col-xs-1,    .col-xs-2,    .col-xs-3,    .col-xs-4,    .col-xs-5,    .col-xs-6,    .col-xs-7,    .col-xs-8,    .col-xs-9,    .col-xs-10,    .col-xs-11,    .col-xs-12,
// .col-sm-1,    .col-sm-2,    .col-sm-3,    .col-sm-4,    .col-sm-5,    .col-sm-6,    .col-sm-7,    .col-sm-8,    .col-sm-9,    .col-sm-10,    .col-sm-11,    .col-sm-12,
// .col-md-1,    .col-md-2,    .col-md-3,    .col-md-4,    .col-md-5,    .col-md-6,    .col-md-7,    .col-md-8,    .col-md-9,    .col-md-10,    .col-md-11,    .col-md-12,
// .col-lg-1,    .col-lg-2,    .col-lg-3,    .col-lg-4,    .col-lg-5,    .col-lg-6,    .col-lg-7,    .col-lg-8,    .col-lg-9,    .col-lg-10,    .col-lg-11,    .col-lg-12,
// .col-1,       .col-2,       .col-3,       .col-4,       .col-5,       .col-6,       .col-7,       .col-8,       .col-9,       .col-10,       .col-11,       .col-12
// {
//     padding:0px;
// }
