hr.star-light:after {
  color: #fff;
  background: none;
  /*background-color: #18bc0c;*/
}

hr.star-light:after {
  color: #fff;
}

hr.star-light {
}

.rounded-circle {
  height: auto;
  border-radius: 50%;
  width: 256px;
}

.img-pp {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 5%;
}

