---
layout: default
---
<div class="container text-center" style="margin-top: 3rem;">
    <div class="section-header">
        <p class="section-subtitle" style="font-size: 1.2rem;">Who Am I?</p>
        <h1 class="section-title">About Me</h1>
    </div>

    <div style="max-width: 700px; margin: 0 auto;">
        <img src="assets/img/about_1.webp" alt="Profile Logic" width="100%"
            style="margin-bottom: 2rem; border-radius: 10px;" />
        <div class="content" style="text-align: left;">
            {{ content }}
        </div>

        <div class="d-flex justify-center" style="gap: 15px; margin-top: 2rem; margin-bottom: 3rem; flex-wrap: wrap;">
            <a class="btn btn-secondary" href="mailto:goktugocal41@gmail.com" role="button">Mail me</a>
            <a class="btn btn-primary" href="/assets/cv/Goktug_Ocal_CV.pdf" role="button"
                download="GoktugOcal_CV.pdf">Download my CV</a>
        </div>
    </div>
</div>