---
layout: default
---

<div class="row col-12 justify-content-center" style="margin:0px; margin-bottom: 30vh;">
    <div class="col-md-8 col-12">
        <div class="col-md-8 col-12">
            <h1 style="font-family:Poppins; font-weight:600; font-size:calc(25px + 0.5vw); margin-bottom: 30px; margin-top: 150px;">Let's chat</h1>
            <p style="font-family:Poppins; font-weight:300; font-size:calc(10px + 0.6vw)">Looking forward to meet you and learn more about your business, ideas and challenges you're facing. Feel free to get in touch for inquiries or a virtual coffee.</p>
            
            <div class="row" style="margin-top: 40px;">
                <div class="col-md-6 col-8" style="margin-bottom: 3vh;">
                    <p class="contact-link-header">Send me an email</p>
                    <a class="contact-link" href = "mailto:goktugocal41@gmail.com">goktugocal41@gmail.com</a>
                </div>
            </div>
            <div class="row" style="margin-top: 5vh;">
                <div class="col-lg-6 col-8" style="margin-bottom: 3vh;">
                    <p class="contact-link-header">Connect to LinkedIn</p>
                    <a class="contact-link" href = "https://www.linkedin.com/in/goktugocal" target="_blank">linkedin.com/goktugocal</a>
                </div>
                <div class="col-lg-6 col-8" style="margin-bottom: 3vh;">
                    <p class="contact-link-header">Follow me on Instagram</p>
                    <a class="contact-link" href = "https://www.instagram.com/goktug.ocal" target="_blank">instagram.com/goktug.ocal</a>
                </div>
                <div class="col-lg-6 col-8" style="margin-bottom: 3vh;">
                    <p class="contact-link-header">Check out my projects</p>
                    <a class="contact-link" href = "https://www.github.com/goktugocal" target="_blank">github.com/goktugocal</a>
                </div>
                <!--
                <div class="col-md-6 col-8" style="margin-bottom: 40px;">
                    <p class="contact-link"  style = "font-family:Poppins; font-weight:200; font-size:calc(6px + 0.6vw);">Listen with me</p>
                    <a class="contact-link"  style = "font-family:Poppins; font-weight:200; font-size:calc(12px + 0.6vw);">spotify.com/mr41showtime</a>
                </div>
                -->
            </div>


            <!--<h1 id="contact" style="font-family:Roboto; font-weight:900; font-size:calc(25px + 0.5vw)">Contact with me</h1>

            <a class="btn btn-contact" style="background-color: tomato;" href="mailto:goktugocal41@gmail.com" role="button"><i class="fa fa-envelope"></i> | Email Me</a>
            
            <div class="row justify-content-center " style="margin-bottom: 10vh;">
                <div class="col-md-3 col-8 justify-content-center btn-container">
                    <a class="btn btn-contact" style="background-color: #0077B5;" href="https://www.linkedin.com/in/goktugocal" role="button"><i class="fa fa-linkedin"></i> | goktugocal</a>
                </div>
                <div class="col-md-3 col-8 justify-content-center btn-container">
                    <a class="btn btn-contact" style="background-color: #333;" href="https://github.com/GoktugOcal"><i class="fa fa-github"></i> | goktugocal</a>
                </div>
                <div class="col-md-3 col-8 justify-content-center btn-container">
                    <a class="btn btn-contact" style="background-color: #C13584;" href="https://www.instagram.com/goktug.ocal/"><i class="fa fa-instagram"></i> | goktug.ocal</a>
                </div>
                <div class="col-md-3 col-8 justify-content-center btn-container">
                    <a class="btn btn-contact" style="background-color: #1db954;" href="https://open.spotify.com/user/mr41showtime?si=aa3902b9a7c74034"><i class="fa fa-spotify"></i> | mr41showtime</a>
                </div>
            </div>
            -->

        </div>       
    </div>
</div>  