---
layout: default
---
{% assign read_time = page.content | number_of_words | divided_by: 200 %}

<div>
    <!-- <div class="row justify-content-center" style="margin:0px; margin-top:10px;">
        {% if page.cover %}
        <img class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12" src="{{ page.cover }}" alt="{{ page.title }}">
        {% elsif page.image %}
        <img class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12" src="{{ page.image | relative_url }}"
            alt="{{ page.title }}"
            style="max-height: 400px; object-fit: cover; border-radius: 12px; margin-bottom: 30px;">
        {% endif %}
    </div> -->
    <div class="row justify-content-center" style="margin:0px;">
        <!-- <div class="writing-container justify-content-center" style="margin:0px;"> -->
        <section class="article">
            <!-- <section class="article col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12"> -->
            <div class="article-header">
                <h1 class="header-title">{{page.title}}</h1>
                <!-- <small class="date">{{page.date | date_to_string}} {% if page.layout != 'project' %} | {{ read_time }}
                    min read{% endif %}</small> -->
                <small class="date">{{page.date | date_to_string}}</small>
                <!-- {% if page.tags %}
                <div class="tags">
                    {% for tag in page.tags %}
                    <div class="tag" style="background-color: {{ site.data.tag_colors[0][tag] }} "
                        href="/blog/{{ tag }}">{{ tag }}</div>
                    {% endfor %}
                </div>
                {% endif %} -->
            </div>
            <div class="content">{{content}}</div>

            <!-- Project Specific Footer Links -->
            {% if page.github_repo or page.external_url %}
            <div class="project-footer" style="margin-top: 50px; padding-top: 20px; border-top: 1px solid #eee;">
                {% if page.github_repo %}
                <a href="{{ page.github_repo }}" target="_blank" class="project-link-text">
                    <i class="fa fa-github project-github-icon"></i> View on GitHub
                </a>
                {% endif %}
                {% if page.external_url %}
                <a href="{{ page.external_url }}" target="_blank" class="project-link-text">
                    <i class="fa fa-external-link"></i> Visit Website
                </a>
                {% endif %}
            </div>
            {% endif %}

        </section>
    </div>

</div>